/* RWD
================================================== */
.closemenu {
    width: 40px;
    height: 40px;
    background: #b97a5d;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    display: none;
    z-index: 999
}
.closemenu:before {
    content:"\f00d";
    font-family: "FontAwesome";
    color:white;
    font-size: 20px
}

#triggermenu {display:none;float:right;font-size:16px;color:white;font-weight:600;text-transform:uppercase;margin:15px 12px 0;padding:5px 12px;transition:all 200ms linear;background:#222;cursor: pointer}
#triggermenu:hover {background:#d8951c;color: white !important;}
.openmenu #triggermenu {color: #f0a61f}
#triggermenu:before {font-family:'FontAwesome';content:"\f0c9";margin-right:10px;font-weight:normal;width: 14px;display: inline-block;}
.openmenu #triggermenu:before {content:"\f00d"}

@media (max-width: 1619.98px) {
    .contact-box {
        border-radius: 38px;
        padding: 50px;
        span {
            width: 75px;
            height: 75px;
            margin-bottom: 20px;
            .icon {
                width: 30px;
                height: 30px;
            }
        }
        h4 {
            font-size: 31px;
            line-height: 40px;
        }
        .contact-link {
            font-size: 19px;
            line-height: 28px;
        }
        .contact-data {
            height: 100px;
        }
    }
    .section-text,
    #page-about .section-text {
        h2 {
            font-size: 51px;
            line-height: 67px;
        }
        p {
            font-size: 18px;
            line-height: 34px;
        }
    }


}
/* end of 1640 */

@media (max-width: 1479.98px) {

}
/* end of 1479.98 */

@media (max-width: 1399.98px) {
    .contact-box {
        border-radius: 28px;
        padding: 20px;
    }
    #pageheader {
        .pageheader-end {
            height: 55px;
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            margin-top: 20px;
        }
        h1 {
            font-size: 66px;
            line-height: 121px;
            margin-bottom: 40px;
        }
    }

    section {
        padding: 100px 0;
    }
    .bg-logo-2 .container {
        padding: 100px 0;
    }
    #page-about .section-text {
        padding-right: 40px
    }
    .section-text br,
    #page-about .section-text br {
        display: none;
    }
}
/* end of 1359.98 */

@media (max-width: 1299.98px) {

}
/* end of 1199.98 */
@media (min-width: 1200px) {
    .pe-xl-6 {
        padding-right: 5rem !important;
    }
}
@media (max-width: 1199.98px) {
    .contact-box {
        border-radius: 28px;
        padding: 20px;
        span {
            width: 75px;
            height: 75px;
            margin-bottom: 20px;
            .icon {
                width: 30px;
                height: 30px;
            }
        }
        h4 {
            font-size: 31px;
            line-height: 40px;
        }
        .contact-link {
            font-size: 19px;
            line-height: 28px;
        }
        .contact-data {
            height: 100px;
        }
    }
    .bttn {
        border-radius: 28px;
        padding: 13px 30px;
        letter-spacing: 0;
        &.bttn-icon {
            padding-right: 15px;
        }
    }
    #map {
        height: 450px;
        border-radius: 28px;
    }
    .mt-130 {
        margin-top: 75px !important;
    }
    .big-borders {
        border-radius: 28px;
    }

    section {
        padding: 80px 0;
    }
    .bg-logo-2 .container {
        padding: 80px 0;
        background-position: right 40px bottom -100px;
        background-size: 300px auto;
    }
    .vw-50 {
        width: 100%;
        img {
            border-radius: 28px;
        }
    }
    .flex-row-reverse .vw-50 img {
        border-radius: 28px;
    }
    #page-about .section-text {
        padding-right: 0;
    }
    #page-about .flex-row-reverse .section-text {
        padding-right: 0;
        padding-left: 0;
    }
}
/* end of 1199.98 */

@media (max-width: 991.98px) {
    .contact-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact-data {
            height: auto;
            padding-bottom: 20px;
        }
    }
    #pageheader {
        h1 {
            font-size: 56px;
            line-height: 61px;
            margin-bottom: 20px;
        }
    }
    .section-text {
        h2 {
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 30px;
        }
        span {
            font-size: 15px;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }
    }
    .section-text p,
    #page-about .section-text p,
    p, li {
        font-size: 16px;
        line-height: 30px;
    }
}
/* end of 991.98 */

@media (max-width: 767.98px) {
     main {
         padding-top: 0;
     }

    section {
        padding: 40px 0;
    }
    .bg-logo-2 .container {
        padding: 40px 0;
        background-position: right 40px bottom -40px;
        background-size: 200px auto;
    }

    .feature-box {
        margin-bottom: 40px;
        border: 1px solid #2e524e;
        padding: 30px;
        border-radius: 28px;
        p {
            margin-bottom: 0;
            margin-right: 0;
        }
        h2 {
            margin-bottom: 10px;
        }
        .icon {
            margin-bottom: 30px;
        }
    }
    #page-about .section-text {
        padding-right: 0;
        padding-left: 0;
    }
}
/* end of 767.98 */

@media (max-width: 575.98px) {

    .mt-6,
    .mt-170
    {
        margin-top: 3rem !important;
    }

    .vw-50 {
        img {
            border-radius: 10px;
        }
    }
    .flex-row-reverse .vw-50 img {
        border-radius: 10px;
    }

    .section-text p,
    #page-about .section-text p,
    p, li {
        font-size: 14px;
        line-height: 25px;
    }
    main {
        padding-left: 15px;
        padding-right: 15px;
    }
    #pageheader {
        .pageheader-end {
            height: 33px;
            border-top-right-radius: 40px;
            border-top-left-radius: 40px;
            margin-top: 17px;
        }
        h1 {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 18px;
        }
    }
    .breadcrumbs {
        font-size: 9px;
    }
    .contact-box {
        .contact-link {
            font-size: 16px;
            line-height: 31px;
        }
        h4 {
            font-size: 25px;
            line-height: 30px;
        }
        .bttn {
            width: 100%;
            justify-content: center;
        }
    }
    .section-text,
    #page-about .section-text {
        h2 {
            font-size: 39px;
            line-height: 44px;
            margin-bottom: 30px;
        }
        span {
            font-size: 14px;
            letter-spacing: 2px;
            margin-bottom: 7px;
        }
    }

    #contactForm .form-control {
        border-radius: 10px;
    }
    .bttn {
        width: 100%;
        border-radius: 10px;
        letter-spacing: 0;
        justify-content: center;
    }
    #map {
        height: 350px;
        border-radius: 10px;
    }
    .big-borders {
        border-radius: 10px;
    }
    .mt-130 {
        margin-top: 30px !important;
    }
    section {
        padding: 40px 10px;
    }
    .contact-text {
        h3 {
            font-weight: 700;
            font-size: 31px;
            margin-bottom: 0;
        }
        h4 {
            font-size: 19px;
            line-height: 30px
        }
    }
    .href-email, .href-phone {
        font-size: 16px;
        line-height: 27px;
        gap: 10px;
    }
    .href-email .href-icon-email,
    .href-phone .href-icon-email,
    .href-email .href-icon-phone,
    .href-phone .href-icon-phone {
        width: 28px;
        height: 28px;
    }
    .href-email .href-icon-email .icon,
    .href-phone .href-icon-email .icon,
    .href-email .href-icon-phone .icon,
    .href-phone .href-icon-phone .icon {
        width: 14px;
        height: 14px;
    }

    .feature-box {
        padding: 25px;
        margin-bottom: 30px;
        .icon {
            width: 57px;
            height: 57px;
            margin-bottom: 20px;
        }
    }
}
/* end of 575.98 */

@media (max-width: 420px) {
    .section-text h2,
    #page-about .section-text h2
    {
        font-size: 27px;
        line-height: 35px;
        margin-bottom: 30px;
    }
}

/* end of 359.98 */
@media (max-width: 359.98px) {

}
/* end of 359.98 */
