/* RWD
================================================== */
.closemenu {
    width: 40px;
    height: 40px;
    background: #b97a5d;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    display: none;
    z-index: 999
}
.closemenu:before {
    content:"\f00d";
    font-family: "FontAwesome";
    color:white;
    font-size: 20px
}

.openmenu {
    overflow: hidden;
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--main-green);
        height: 100% !important;
        width: 100%;
        z-index: 200;
    }
    ul {
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        flex-direction: column;
        width: 200px;
        margin: auto;
        li {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
}

@media (max-width: 1619.98px) {
    .contact-box {
        border-radius: 38px;
        padding: 50px;
        span {
            width: 75px;
            height: 75px;
            margin-bottom: 20px;
            .icon {
                width: 30px;
                height: 30px;
            }
        }
        h4 {
            font-size: 31px;
            line-height: 40px;
        }
        .contact-link {
            font-size: 19px;
            line-height: 28px;
        }
        .contact-data {
            height: 100px;
        }
    }
    .section-text,
    #page-about .section-text {
        h2 {
            font-size: 51px;
            line-height: 67px;
        }
        p {
            font-size: 18px;
            line-height: 34px;
        }
    }
    header nav ul {
        gap: 45px;
    }

    .house-item .house-item-header {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        strong {
            width: 60px;
            height: 60px;
            font-size: 30px;
        }
        div {
            width: 305px;
            h2 {
                font-size: 29px;
                line-height: 33px;
            }
        }
    }
    .house-item {
        border-radius: 30px;
        padding: 10px 15px;
        margin-bottom: 24px;
        li {
            padding: 12px 13px;
            font-size: 16px;
        }
    }
    .house-item .house-item-footer {
        padding-top: 15px;
        padding-bottom: 5px;
        .bttn.bttn-icon {
            font-size: 12px;
            padding: 13px 18px;
            letter-spacing: 0;
        }
    }
    .location-points {
        margin-bottom: 14px;
        padding-bottom: 14px;
    }
    .location-point h3 {
        font-size: 31px
    }
    .location-point p {
        font-size: 14px;
        line-height: 22px;
    }
    .location-point .circle {
        width: 66px;
        height: 66px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .mt-100 {
        margin-top: 80px !important;
    }

    .row-under {
        h3 {
            font-size: 50px;
            line-height: 64px;
            margin-bottom: 80px;
        }
    }
    footer .href-email,
    footer .href-phone {
        font-size: 20px;
        line-height: 31px;
        gap: 14px;
    }
    .footer-content {
        border-radius: 32px;
        padding: 50px 50px 0;
        margin-top: 45px;
    }
    .footer-box {
        padding: 0 36px;
    }
    footer .copyrights {
        padding: 21px 0;
        margin-top: 50px;
    }
}
/* end of 1640 */

@media (max-width: 1479.98px) {

}
/* end of 1479.98 */

@media (max-width: 1399.98px) {
    .contact-box {
        border-radius: 28px;
        padding: 20px;
    }
    #pageheader {
        .pageheader-end {
            height: 55px;
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            margin-top: 20px;
        }
        h1 {
            font-size: 66px;
            line-height: 121px;
            margin-bottom: 40px;
        }
    }

    section {
        padding: 100px 0;
    }
    .bg-logo-2 .container {
        padding: 100px 0;
    }
    #page-about .section-text {
        padding-right: 40px
    }
    .section-text br,
    #page-about .section-text br {
        display: none;
    }

    header nav ul {
        gap: 27px;
    }
    header li .bttn {
        font-size: 17px;
        gap: 13px;
        padding: 13px 20px;
    }
    header #logo img {
        width: 120px;
        height: 154px;
        margin-top: 40px;
    }
    #pageheader {
        padding-top: 230px;
    }
    .house-item .house-item-header {
        div {
            width: 250px;
            padding-top: 7px;
            h2 {
                font-size: 26px;
                line-height: 28px;
            }
        }
    }
    .location-point p {
        font-size: 12px;
        line-height: 18px;
    }
    .row-under h3 {
        font-size: 43px;
        line-height: 54px;
        margin-bottom: 80px;
    }

    .footer-box.pe-0 {
        border: 0;
        border-top: 1px solid #b3c0bf;
        padding: 20px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    footer .copyrights {
        margin-top: 20px;
    }
    footer {
        .footer-top {
            width: 100%;
            height: 55px;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 50px;
            margin-bottom: 40px;
        }
    }
    footer .section-text h2 {
        font-weight: 700;
        font-size: 61px;
        line-height: 61px;
    }
    #bignumbers li {
        padding: 30px 0 20px
    }
    #bignumbers div {
        width: 360px;
    }
    #bignumbers strong {
        font-size: 150px;
        line-height: 108px;
    }
    .gallery-wrap {
        height: 655px;
    }
}
/* end of 1359.98 */

@media (max-width: 1299.98px) {

}
/* end of 1199.98 */
@media (min-width: 1200px) {
    .pe-xl-6 {
        padding-right: 5rem !important;
    }
}
@media (max-width: 1199.98px) {
    .contact-box {
        border-radius: 28px;
        padding: 20px;
        span {
            width: 75px;
            height: 75px;
            margin-bottom: 20px;
            .icon {
                width: 30px;
                height: 30px;
            }
        }
        h4 {
            font-size: 31px;
            line-height: 40px;
        }
        .contact-link {
            font-size: 19px;
            line-height: 28px;
        }
        .contact-data {
            height: 100px;
        }
    }
    .bttn {
        border-radius: 28px;
        padding: 13px 30px;
        letter-spacing: 0;
        &.bttn-icon {
            padding-right: 15px;
        }
    }
    #map {
        img {
            border-radius: 28px;
        }
    }
    .mt-130 {
        margin-top: 75px !important;
    }
    .big-borders {
        border-radius: 28px;
    }

    section {
        padding: 80px 0;
    }
    .bg-logo-2 .container {
        padding: 80px 0;
        background-position: right 40px bottom -100px;
        background-size: 300px auto;
    }
    .vw-50 {
        width: 100%;
        img {
            border-radius: 28px;
        }
    }
    .flex-row-reverse .vw-50 img,
    #page-gallery #gallery img {
        border-radius: 28px;
    }
    #page-about .section-text {
        padding-right: 0;
    }
    #page-about .flex-row-reverse .section-text {
        padding-right: 0;
        padding-left: 0;
    }

    .rwd-menu {
        display: none;
    }

    #menubar {
        width: 20px;
        height: 20px;
    }

    header {
        nav {
            display: flex !important;
            align-items: start !important;
            gap: 20px;
        }
    }
    .house-item .house-item-header div {
        width: 350px;
    }
    .big-stroke {
        border-radius: 30px;
        padding: 14px;
        .big-borders {
            border-radius: 17px;
        }
    }
    .row-under h3 {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 54px;
    }
    #bignumbers br {
        display: none;
    }
    #bignumbers div {
        width: calc(100% - 180px);
    }
}
/* end of 1199.98 */

@media (max-width: 991.98px) {
    .contact-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact-data {
            height: auto;
            padding-bottom: 20px;
        }
    }
    #pageheader {
        h1 {
            font-size: 56px;
            line-height: 61px;
            margin-bottom: 20px;
        }
    }
    .section-text {
        h2 {
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 30px;
        }
        span {
            font-size: 15px;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }
    }
    .section-text p,
    #page-about .section-text p,
    p, li {
        font-size: 16px;
        line-height: 30px;
    }

    #galleryNav li a {
        font-size: 30px;
        line-height: 54px
    }
    .mt-100 {
        margin-top: 50px !important;
    }
    .house-item .house-item-header div {
        width: 232px;
        margin-left: 13px;
    }
    .row-under h3 {
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    .gallery-wrap {
        height: 515px;
    }
    .gallery-item-info span {
        width: 65px;
        height: 65px;
        right: 20px;
        bottom: 20px;
    }
    .gallery-item-info span .icon {
        width: 40px;
        height: 40px;
    }
}
/* end of 991.98 */

@media (max-width: 767.98px) {
     main {
         padding-top: 0;
     }

    section {
        padding: 40px 0;
    }
    .bg-logo-2 .container {
        padding: 40px 0;
        background-position: right 40px bottom -40px;
        background-size: 200px auto;
    }

    .feature-box {
        margin-bottom: 40px;
        border: 1px solid #2e524e;
        padding: 30px;
        border-radius: 28px;
        p {
            margin-bottom: 0;
            margin-right: 0;
        }
        h2 {
            margin-bottom: 10px;
        }
        .icon {
            margin-bottom: 30px;
        }
    }
    #page-about .section-text {
        padding-right: 0;
        padding-left: 0;
    }
    #galleryNav {
        gap: 39px;
        li a {
            font-size: 21px;
            line-height: 50px;
        }
    }

    header {
        height: 140px;
        .bttn {
            width: auto;
            padding: 13px 16px;
        }
    }
    header nav {
        padding-top: 15px;
    }
    header #logo img {
        width: 90px;
        height: 115px;
        margin-top: 15px;
    }
    header.scrolled {
        height: 122px;
    }
    header.scrolled #logo img {
        width: 70px;
        height: 90px;
        margin-top: 15px;
    }
    .house-item .house-item-header div {
        width: 75%;
    }
    .house-item .house-item-header div h2 {
        font-size: 22px;
        line-height: 27px;
    }
    .house-item li {
        padding: 10px 10px;
        font-size: 14px;
    }
    .row-under {
        margin-top: -30px;
    }
    .row-under h3 {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 27px;
    }
    .footer-box {
        padding: 0;
        border:0;
        text-align: center;
        img {
            width: 100px;
            height: auto;
            margin: 0 auto 20px !important;
        }
    }
    #gallery.gallery-wrap {
        display: none;
    }
    #mainGallery {
        padding: 40px 0 !important;
        background: rgba(0,0,0,0.3);
    }
}
/* end of 767.98 */

@media (max-width: 575.98px) {

    .mt-6,
    .mt-170
    {
        margin-top: 3rem !important;
    }

    .vw-50 {
        img {
            border-radius: 10px;
        }
    }
    .flex-row-reverse .vw-50 img {
        border-radius: 10px;
    }

    .section-text p,
    #page-about .section-text p,
    p, li {
        font-size: 14px;
        line-height: 25px;
    }
    main {
        padding-left: 15px;
        padding-right: 15px;
    }
    #pageheader {
        .pageheader-end {
            height: 33px;
            border-top-right-radius: 40px;
            border-top-left-radius: 40px;
            margin-top: 17px;
        }
        h1 {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 18px;
        }
    }
    .breadcrumbs {
        font-size: 9px;
    }
    .contact-box {
        .contact-link {
            font-size: 16px;
            line-height: 31px;
        }
        h4 {
            font-size: 25px;
            line-height: 30px;
        }
        .bttn {
            width: 100%;
            justify-content: center;
        }
    }
    .section-text,
    #page-about .section-text {
        h2 {
            font-size: 39px;
            line-height: 44px;
            margin-bottom: 30px;
        }
        span {
            font-size: 14px;
            letter-spacing: 2px;
            margin-bottom: 7px;
        }
    }

    #contactForm .form-control {
        border-radius: 10px;
    }
    .bttn {
        width: 100%;
        border-radius: 10px;
        letter-spacing: 0;
        justify-content: center;
    }
    #map {
        img {
            border-radius: 10px;
        }
    }
    .big-borders,
    #page-gallery #gallery img
    {
        border-radius: 10px;
    }
    .mt-130,
    .mt-100
    {
        margin-top: 30px !important;
    }
    section {
        padding: 40px 10px;
    }
    .bg-logo .container {
        padding: 0 10px;
    }
    .contact-text {
        h3 {
            font-weight: 700;
            font-size: 31px;
            margin-bottom: 0;
        }
        h4 {
            font-size: 19px;
            line-height: 30px
        }
    }
    .href-email, .href-phone {
        font-size: 16px;
        line-height: 27px;
        gap: 10px;
    }
    .href-email .href-icon-email,
    .href-phone .href-icon-email,
    .href-email .href-icon-phone,
    .href-phone .href-icon-phone {
        width: 28px;
        height: 28px;
    }
    .href-email .href-icon-email .icon,
    .href-phone .href-icon-email .icon,
    .href-email .href-icon-phone .icon,
    .href-phone .href-icon-phone .icon {
        width: 14px;
        height: 14px;
    }

    .feature-box {
        padding: 25px;
        margin-bottom: 30px;
        .icon {
            width: 57px;
            height: 57px;
            margin-bottom: 20px;
        }
    }
    #galleryNav {
        gap: 0;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: start;
    }
    #galleryNav li.active {
        border: 1px solid var(--main-gold);
        border-radius: 10px;
    }
    #galleryNav li a {
        display: block;
    }
    header li .bttn {
        font-size: 13px;
        gap: 10px;
        padding: 13px 13px;
    }
    header #logo img {
        width: 66px;
        height: 85px;
        margin-top: 15px;
    }
    header.scrolled {
        height: 80px;
    }
    header.scrolled #logo img {
        width: 40px;
        height: 51px;
    }
    #pageheader {
        padding-top: 160px;
    }

    .location-point {
        display: flex;
        gap: 13px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .location-point div {
        align-items: center;
    }
    .row-under {
        margin-top: -12px;
        .big-stroke {
            padding: 8px;
            width: 80%;
        }
        h3 {
            text-align: center;
        }
    }
    .footer-content {
        border-radius: 10px;
        padding: 30px 30px 0;
        margin-top: 36px;
    }
    footer .section-text h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 51px;
    }
    footer {
        padding-bottom: 20px;
    }
    footer .href-email, footer .href-phone {
        font-size: 13px;
        line-height: 18px;
        gap: 10px;
    }
    footer .href-email .href-icon-email, footer .href-phone .href-icon-email, footer .href-email .href-icon-phone, footer .href-phone .href-icon-phone {
        width: 35px;
        height: 35px;
    }
    footer .href-email .href-icon-email .icon, footer .href-phone .href-icon-email .icon, footer .href-email .href-icon-phone .icon, footer .href-phone .href-icon-phone .icon {
        width: 17px;
        height: 17px;
    }
    .footer-top {
        width: 100%;
        height: 33px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
        margin-bottom: 40px;
    }

    #bignumbers li {
        padding: 30px 0 20px;
    }
    #bignumbers div {
        width: calc(100% - 80px);
    }
    #bignumbers strong {
        font-size: 60px;
        line-height: 60px;
    }
    #bignumbers p {
        font-size: 14px;
        line-height: 20px
    }
    #mainGallery {
        padding: 30px 15px !important;
        background: rgba(0, 0, 0, 0.3);
        margin-left: -15px;
        margin-right: -15px;
    }
    #mainGallery .d-block {
        width: 100%;
    }
    #mainGallery .bttn {
        width: 100%;
    }
}
/* end of 575.98 */

@media (max-width: 420px) {
    .section-text h2,
    #page-about .section-text h2
    {
        font-size: 27px;
        line-height: 35px;
        margin-bottom: 30px;
    }
}

/* end of 359.98 */
@media (max-width: 359.98px) {
    .section-text h2,
    #page-about .section-text h2 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 20px;
    }
}
/* end of 359.98 */
